{
  "parser": "@typescript-eslint/parser",
  "extends": ["prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": [
      "error", 
    {"singleQuote": true}
    ],
    "object-curly-newline": [
      "error",
      {
        "ObjectExpression": { "multiline": true, "minProperties": 1 }
      }
    ]
  }
}
