.articleWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
}

.new_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  max-width: 70%;
  min-width: 70%;
  max-height: 200px;
  min-height: 200px;
  margin: 10px;
}

.news_dashboard_img {
  width: 300px;
  border-radius: 24px 0 0 24px;
  max-height: 200px;
}

.new_image_space {
  display: flex;
  background-color: wheat;
  min-height: 200px;
  min-width: 300px;
  margin-right: 10px;
  border-radius: 24px 0 0 24px;
}

.info_and_button_section {
  display: flex;
  flex-direction: row;
  border: solid;
  border-radius: 0px 24px 24px 0;
  align-items: center;
  min-width: 75%;
  background-color: #fff;
}

.news_info_section {
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Baloo 2";
  width: 90%;
  height: 200px;
  text-align: left;
}

.new_title {
  font-weight: bolder;
}

.new_author {
  font-size: 12px;
}

.new_content {
  max-width: 100%;
  text-align: justify;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn_archivar {
  max-width: fit-content;
  font-size: 15px;
  display: flex;
  width: fit-content;
  padding: 15px;
  margin: 3px;
  border-radius: 33px;
  background: var(--Color);
  border: none;
  color: #fff;
  font-family: "Baloo 2";
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 3.455px;
}

.btn_archivar:hover {
  cursor: pointer;
  filter: brightness(1.3);
}