* {
  padding: 0;
  margin: 0%;
  box-sizing: border-box;
}

:root {
  --Color: #302992;
  --gradient: -webkit-linear-gradient(1deg, #519be0, #7cb44d);
  --banner: rgba(61, 139, 167, 0.793);
}


body {
  background: var(--gradient);
}